.comment {
    display: grid;
    grid-template-columns:1fr 21fr 1fr;
    .comment_user{
        .header__avatar{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid white;
        }
       
        
    }
    .deleteComment {
        cursor: pointer;
    }
}
.comment_text{
    display: flex;
    flex-direction: column;
    .comment_text_user{
        display: flex;
        small {
            font-size: 15px;
            
        }
        p {
            font-size: 11px;
            opacity: 0.5;
            margin-left: 5px;
            margin-top: 1.5px;
        }
    }  

    span {
        margin-top: 4px;
        font-size: 14px;

    }
}

.video__add__comments {
    margin: 20px 0px;
    margin-bottom: 55px;
    form {
        display: flex;
        max-height: 70px;
        height: 100%;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        background-color: rgba($color: #546171, $alpha: 0.5);
        border-radius: 12px;
        border: 1px solid rgba($color: $font, $alpha: 0.3);
        button{
            background-color: rgba($color: #9BA4AB, $alpha: 0.5);
            background-image: none !important;
            border-color: transparent;
            border-radius: 5px;
            border: none;
            color: #FFFFFF;  
            margin-left: 5px;
            cursor: pointer;
        }
        textarea{    
            background-color: rgba($color: #9BA4AB, $alpha: 0.5);
            border: solid 1px #FFFFFF;
            border-radius: 5px;
            width: 1000px;
            height: 60px;
    }
    p {
        margin-left: 20px;
        margin-top: 20px;
    }

}
}



