.identifyUser {
    display: flex;
    margin-top: 10px;
    .header__avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}

.video__each {
    padding: 14px 14px;
    background-color: rgba($color: white, $alpha: 0.3);
    border-radius: 20px;
    //border: 1px solid white;
}

.video-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.video-mixin{
    max-width: 100%;
    .video-mixin__thumb {
        height: 170px;
        border-radius: 7px;
        width: 100%;
        background-color: ivory;
    } 
    .video-mixin__data{
        padding: 0px 15px;
        .video-mixin__title {
            font-size: 16px;
            display: block;
        }
        .video-mixin__meta{
            margin-top: 8px;
            font-size: 12px;
            color: rgb(255, 255, 255, 0.7)
        }
    }
}


