.home-container{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    .home_description{

        margin-right: 1000px;
        margin-bottom: -35px;
        margin-top: -50px;
        h1{
            animation: fadeinDescription 3s;
            font-weight: 500;
            font-size: 70px;
        }
        div{
            display: flex;
    
            h2{
                animation: fadeinDescription 2s;
                font-weight: 700;
                font-size: 150px;
            }
            h3{
                animation: fadeinDescription 2s;
                width: 120px;
                margin-left: 30px;
                margin-top: 20px;
                font-weight: 300;
                font-size: 50px;
                margin-right: 50px;
            }
            .point {
                animation: fadeinDescription 2s;
                margin-top: 40px;
                transform: rotate(315deg);
                font-weight: 500;
                font-size: 20px;
            }
        }
        p {
            animation: fadeinDescription 1s;
            opacity: 0.7;
        }
    }
    .video-box{
        left: 0px;
        width: 2000px;
        height: 500px;
        position: relative;
        .video-friontCard {
            position: absolute;
            margin-bottom: 10px;
            height: 360px;
            width: 240px;
            bottom: 5%;
            border-radius: 10px;
            left: 50%;
            z-index: 100;
        }    
        .video__each {
            height: 360px;
            width: 240px;
            padding: 30px 0px;
            margin-bottom: 45px;
            bottom: 5%;
            transition:padding ease-in-out 1.1s;      
            .video-mixin{
                .identifyUser{
                    visibility:hidden;
                    display: flex;
                    margin-bottom: 10px;
                    .header__avatar {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        object-fit:cover;
                    }
                    .video-mixin__data{
                        padding: 0px 15px;
                        .video-mixin__title {
                            font-size: 16px;
                            display: block;
                        }
                        .video-mixin__meta{
                            margin-top: 8px;
                            font-size: 12px;
                            color: rgb(255, 255, 255, 0.7)
                        }
                    } 
                }          
                .video-mixin__thumb {
                    height: 100%;
                    width: 100%;
                    border-radius: 7px;
                    width: 100%;
                    background-color: ivory;
                }           
            }
            
        }    
        .video__each:hover {
            .identifyUser{
                visibility:visible;
            }         
            padding-bottom: 200px;
            z-index: 100;  
        }
    }
}


.video-box{
    .video__each:nth-child(13) {
        transform: rotate(315deg);
        left: 0%;
        position: absolute;
        animation: fadein 6.5s;
        margin-bottom: -420px;
        z-index: 13;
    }  
    .video__each:nth-child(11) {
        transform: rotate(322deg);
        position: absolute;
        animation: fadein 6.5s;
        margin-bottom: -270px;
        left: 8%;
        z-index: 12;
    }

    .video__each:nth-child(9) {
        transform: rotate(329deg);
        position: absolute;
        animation: fadein 6s;
        margin-bottom: -135px;
        left: 16%;
        z-index: 11;
    }

    .video__each:nth-child(7) {
        transform: rotate(336deg);
        position: absolute;
        animation: fadein 5.5s;
        margin-bottom: -50px;
        left: 24%;
        z-index: 10;
    }

    .video__each:nth-child(5) {
        transform: rotate(343deg);
        position: absolute;
        animation: fadein 5s;
        margin-bottom: 20px;
        left: 32%;
        z-index: 9;
    }

    .video__each:nth-child(3) {
        transform: rotate(350deg);
        position: absolute;
        animation: fadein 4.5s;
        margin-bottom: 60px;
        left: 40%;
        z-index: 8;
    }

    .video__each:nth-child(1) {
        transform: rotate(357deg);
        position: absolute;
        animation: fadein 4s;
        left: 48%;
        z-index: 7;
        margin-bottom: 70px;
    }

    .video__each:nth-child(2) {
        transform: rotate(4deg);
        position: absolute;
        animation: fadein 3.5s;
        margin-bottom: 60px;
        left: 56%;
        z-index: 6;
    }
    .video__each:nth-child(4) {
        transform: rotate(11deg);
        position: absolute;
        animation: fadein 3s;
        margin-bottom: 30px;
        left: 64%;
        z-index: 5;
    }
    .video__each:nth-child(6) {
        transform: rotate(18deg);
        position: absolute;
        animation: fadein 2.5s;
        margin-bottom: -25px;
        left: 72%;
        z-index: 4;
    }
    .video__each:nth-child(8) {
        transform: rotate(25deg);
        position: absolute;
        animation: fadein 2s;
        margin-bottom: -100px;
        left: 80%;
        z-index: 3;
    }
    .video__each:nth-child(10) {
        transform: rotate(32deg);
        position: absolute;
        animation: fadein 1.5s;
        margin-bottom: -200px;
        left: 88%;
        z-index: 2;
    }
    .video__each:nth-child(12) {
        transform: rotate(39deg);
        position: absolute;
        animation: fadein 1s;
        margin-bottom: -325px;
        left: 96%;
        z-index: 1;
    }
}



@keyframes fadein {
    from {
        left: -50%;
        
    }
    to {
        
    }
}

@keyframes fadeinDescription {
    from {
        transform: translatey(-50px);
    }
}







/*
.video__each {

    padding: 14px 14px;
    background-color: rgba($color: white, $alpha: 0.3);
    border-radius: 20px;
    //border: 1px solid white;
}
*/

/*


*/


