.search__form{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    input{
        all: unset;
        padding: 15px 20px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba($color: #9BA4AB, $alpha: 0.5);
        margin-bottom: 5px;
        font-size: 16px;
        color: $font;
        width: 90%;
    }
    button {
        all: unset;
    }
    button{
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        right: 40px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
    }
}