.video__sub {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  .video__data { 
    display: flex;
    flex-direction: column;
    .video__title {
      font-size: 26px;
      margin-bottom: 8px;
      font-weight: 500;
      
    }
    .video__small {
      font-size: 13px;
      color: #dbdbda;
    }
    .video__owner {
      margin: 3px 0px;
      font-size: 13px;
      color: #dbdbda;
      a {
        color: #dbdbda;
      }
    }
  }
  .video__nav{
    i {
      margin-right: 5px;
    }
    display: flex;
    margin-top: 45px;
    .video__nav__edit{
      margin: 0px 18px;
    }
  }
}


.video__more {
  margin: 10px 0px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  .video__more__user{
    display: flex;
    margin-bottom: 20px;
    .header__avatar{
      margin-right: 8px;
      object-fit:cover;
    }
  .video__more__user__info {
    margin-top: 6px;
    small {
      margin-top: 3px;
      font-size: 12px;
      color: #d1d1ce;

    }
  }
  }
  .video__discription {
    margin: 40px 0px;

 
  }
}

 

  .video__comments {
      display: flex;
      flex-direction: column;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
      .comment {
          
          color:white;
          padding-bottom: 5px;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);

      }
  }