form {
    max-width: 420px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba($color: #546171, $alpha: 0.5);
    border-radius: 12px;
    border: 1px solid rgba($color: $font, $alpha: 0.3);
}

input:not([type="range"]){
    all: unset;
    padding: 15px 20px;
    margin: 5px 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background-color: rgba($color: #788086af, $alpha: 0.5);
    margin-bottom: 5px;
    font-size: 16px;
    color: $font;
    width: 90%;
    &::placeholder{
        color: rgba(255, 255, 255, 0.7)
    }
}


input[type="submit"],.social__btn--github, .kakaoLogin {
    border-radius: 12px;
    padding: 12px 20px;
    background-color: rgba($color: #b91717, $alpha: 0.7);
    text-align: center;
    cursor: pointer;
    display: block;
}

label {
    font-size: 12px;
    opacity: 0.7;
}

//video range
input[type=range] { 
    -webkit-appearance: none;
    width:100%;
    background-color: rgba($color: #445462, $alpha: 0.5);
    border-radius: 5px;
    border: 1px solid rgba(194, 181, 197, 0.411);
  }


input[type=range]::-webkit-slider-thumb { 
  -webkit-appearance: none;
  background: #ffffff;
  cursor: pointer;
  height: 20px; width: 10px;   
  border-radius: 3px;
}

input[type=submit]:hover, button[type=submit]:hover, span[type=submit]:hover, i[type=submit]:hover, a[type=submit]:hover{
    opacity: 0.6;
}

a[type=submit]:hover {
    opacity: 0.5;
}

