.social-login {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .social__btn--github{
        background-color: rgba($color: #2d9b47, $alpha: 0.7);
        width: 260px;
        height: 24px;
        display: flex;
        i{
            margin-right: 30px;
        }
    }
    .social__btn--github:hover{
        opacity: 0.6;
    }
    .kakaoLogin{
        background-color: #FEE500;
        width: 260px;
        height: 24px;
        display: flex;
        margin-bottom: 20px;
        color: #000000;
        i{
        margin-right: 50px;
        color: #000000;
    }
}
.kakaoLogin:hover{
    opacity: 0.6;
}
}
.kakao__Image {
    margin-bottom: 20px;
    width: 300px;
    height: 48px;
}
