include mixins/message

doctype html
html(lang="en")
    head
        title #{pageName} | #{siteName} 
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        link(rel="shortcut icon" sizes="16x16 32x32 64x64" href="https://www.youtube.com/s/desktop/8049ee3e/img/favicon.ico")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap" rel="stylesheet")
    body 
        if messages.error 
            +message("error", messages.error)

        include partials/header                              
        main  
            block content                
        include partials/footer.pug
    script(src="/assets/js/main.js")
    block scripts