include mixins/message

doctype html
html(lang="ko")
    head
        title #{pageName} | #{siteName} 
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
    body 
        if messages.error 
            +message("error", messages.error)

        include partials/header                              
        main  
            block content                
        include partials/footer.pug
    script(src="/assets/js/main.js")
    block scripts