extends base
include mixins/video

block content 
    div.home-container
        div.home_description
            h1 experience fresh & new
            div 
                h2 video
                h3  for free
                a(href="/user/edit-profile")
                    h6.point add info 
                a(href="/videos/upload")
                    h5.point upload     
                a(href="/join")
                    h4.point sign in

        div.video-box
            each video in videos 
                +video(video)
            else 
                span.empty__message No videos found




