div.social-login
    a.kakaoLogin(href="user/kakao/start")
        i.fas.fa-comment 
        p     Login with Kakao
    a(href="user/github/start").social__btn.social__btn--github
        i.fab.fa-github
        p     Continue with Github
    